h2 {
    text-align: center;
    font-family: 'courier';
    font-size: 20px;
}

table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 1px solid;
}

th {
    height: 50px;
}

td {
    text-align: center;
    padding: 5px;
}

tr:hover {
    background-color: rgb(255, 164, 164) !important;
}

tr:nth-child(even) {
    background-color: rgba(193, 230, 252, 0.753);
}