/* Header of ducument with border centered*/

#header-border {
    position: relative;
    left: 28%;
}



h2 {
    font-family: 'courier';
    font-size: 20px;
    border: 2px solid;
    padding: 10px;
    display: inline-block;
    background-color: rgb(0, 56, 241);
    color: white;
}

table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    border: 1px solid;
}

th {
    height: 50px;
    background-color: rgb(0, 56, 241);
    color: white
}

td {
    text-align: center;
    padding: 5px;
}

/* Highlights row with color that mouse is hovering over */


tr:hover {
    background-color: rgb(255, 164, 164) !important;
}

/*Turns the backgournd color of every other row another color.*/

tr:nth-child(even) {
    background-color: rgba(193, 230, 252, 0.753);
}
